<!DOCTYPE html>
<html>

<head>
    <title>WaterPi - The home irrigation system</title>
    <script src="https://unpkg.com/vue"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!--<meta http-equiv="refresh" content="15">-->

</head>

<body>

    <div id="app">
        <v-app id="app">
            <v-navigation-drawer v-model="drawer" app dark>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title class="title">
                            Waterberry
                        </v-list-item-title>
                        <v-list-item-subtitle>
                            Home Irrigation System
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-divider></v-divider>

                <v-list dense nav>
                    <v-list-item v-for="item in items" :key="item.title" :href="item.link" link>
                        <v-list-item-icon>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
            <v-app-bar app>
                <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

                <v-toolbar-title>WaterPi</v-toolbar-title>
            </v-app-bar>

            <v-main dark>
                <v-container class="py-8 px-6" fluid>
                    <v-row class="fill-height">
                        <v-col>
                            <router-view :key="$route.path"></router-view>
                        </v-col>
                    </v-row>

                </v-container>
            </v-main>

            <v-footer app>
                footer
            </v-footer>
        </v-app>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script type="text/x-template" id="logs">
        <div>
            <h1 class="font-weight-light">Logs</h1>
            <v-card>
                <v-data-table 
                    :headers="logHeaders" 
                    :items="logItems" 
                    item-key="ID"
                    dark
                    >
                    <template v-slot:item="{ item }">
                        <tr>
                            <td>{{item.Name}}</td>
                            <td>{{item.CurrentStatus}}</td>
                            <td>{{item.UpdateTime}}</td>                          
                        </tr>
                    </template>

                </v-data-table>
            </v-card>

        </div>
    </script>

    <script type="text/x-template" id="home">

        <div>
            <h1 class="font-weight-light">Home </h1>
            <v-card>
                <v-data-table 
                    :headers="headers" 
                    :items="homeItems" 
                    item-key="ID"
                    dark
                    >
                   
                    <template v-slot:item="{ item }">
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.mode}}</td>
                            <td>{{item.pin}}</td>
                            <td>
                                <v-btn class="mx-2" fab dark x-small color="grey" @click="onButtonClick(item,'on')">
                                    <v-icon dark>mdi-circle</v-icon>
                                </v-btn>
                            </td>
                            <td>
                                <v-btn class="mx-2" fab dark x-small color="grey" @click="onButtonClick(item,'off')">
                                    <v-icon dark>mdi-circle-outline</v-icon>
                                </v-btn>
                            </td>
                            <td>{{item.seconds_off}}</td>
                        </tr>
                    </template>

                </v-data-table>
            </v-card>
        </div>
       
    </script>


    <script type="text/x-template" id="status">

        <div>
            <h1 class="font-weight-light">Status </h1>
            <v-card>
                <v-card-text>
                                 
                      <div class="grey--text ml-4">
                        Time: {{status.SystemTime}}
                      </div>
                      <div class="grey--text ml-4">
                        Temp: {{status.CpuTemp}}
                      </div>
                      <div class="grey--text ml-4">
                        Git Commit: {{status.GitCommit}}
                      </div>
                      <div class="grey--text ml-4">
                        Build Time: {{status.BuildTime}}
                      </div>
                  </v-card-text>

            </v-card>
        </div>
       
    </script>
    <script>



        const Logs = {
            template: '#logs',
            data: () => ({
                logHeaders: [
                    { text: "Name", value: "Name" },
                    { text: "CurrentStatus", value: "CurrentStatus" },
                    { text: "Date", value: "UpdateTime" }
                ],
                logItems: [],
            }),
            methods: {},

            beforeRouteEnter(to, from, next) {
                console.log("to log");
                next(Logs => {
                    axios.get('/log')
                        .then(response => (Logs.logItems = response.data))
                        .catch(error => console.log(error))
                    next();
                })
            },
            beforeRouteUpdate(to, from, next) {
                console.log("before log update")
            }
        }


        const Status = {
            template: '#status',
            data: () => ({
                status: "",
            }),
            methods: {},

            beforeRouteEnter(to, from, next) {
                console.log("to status");
                next(Status => {
                    axios.get('/status')
                        .then(response => (Status.status = response.data))
                        .catch(error => console.log(error))
                    next();
                })
            },
        }


        const Home = {
            template: '#home',
            data: () => ({
                headers: [
                    { text: "ID", value: "ID" },
                    { text: "Name", value: "Name" },
                    { text: "CurrentStatus", value: "CurrentStatus" },
                    { text: "Pin", value: "Pin" },
                    { text: "On", value: "On" },
                    { text: "Off", value: "Off" },
                    { text: "Seconds Off", value: "Seconds Off" },


                ],
                homeItems: [],
                loading: true
            }),
            methods: {
                onButtonClick(item, mode) {
                    console.log('click on ' + item.id + mode)
                    const xhttp = new XMLHttpRequest();
                    url = "water?relay=" + item.id + "&mode=" + mode;
                    console.log('url ' + url)

                    xhttp.open("GET", url, true);
                    xhttp.send();
                    location.reload();
                }
            },
            beforeRouteEnter(to, from, next) {
                console.log("to home before enter");
                next(Home => {
                    axios.get('/relays')
                        .then(response => (Home.homeItems = response.data))
                        .catch(error => console.log(error))

                    next();
                })
            },
            beforeRouteUpdate(to, from, next) {
                console.log("to home before upd");
                next(Home => {
                    axios.get('/relays')
                        .then(response => (Home.homeItems = response.data))
                        .catch(error => console.log(error))

                    next();
                })
            }
        }

        const routes = [
            { path: '/', component: Status },
            { path: '/status', component: Status },
            { path: '/home', component: Home },
            { path: '/logs', component: Logs },
        ]

        const router = new VueRouter({
            routes
        })

        new Vue({
            el: '#app',
            router: router,
            vuetify: new Vuetify(),
            data() {
                return {
                    items: [
                        { title: 'System Status', icon: 'mdi-gamepad', link: '#/status' },
                        { title: 'Water Valves Status', icon: 'mdi-view-dashboard', link: '#/home' },
                        { title: 'Irrigation Logs', icon: 'mdi-image', link: '#/logs' },

                    ],
                    right: null,
                    drawer: null,

                }
            },

        })
    </script>
</body>

</html>